<configuration>
    <property name="CONSOLE_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} %magenta([%thread]) %highlight([%-3level]) %logger{5} - %msg %n"/>

    <appender name="NHN_LOG_CRASH_APPENDER" class="com.nhnacademy.batch.global.appender.LogCrashAppender">
        <url>https://api-logncrash.cloud.toast.com/v2/log</url>
    </appender>

    <!-- 비동기 NHN Log Crash Appender 정의 -->
    <appender name="ASYNC_NHN_LOG_CRASH_APPENDER" class="ch.qos.logback.classic.AsyncAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <!--        <encoder>-->
        <!--            <Pattern>${CONSOLE_PATTERN}</Pattern>-->
        <!--        </encoder>-->
        <!--        <appender-ref ref="STDOUT"/>-->
        <appender-ref ref="NHN_LOG_CRASH_APPENDER"/>
    </appender>

    <!-- Racingcar Logger 정의 -->
    <!--    <logger name="racingcar" level="INFO">-->
    <!--        <appender-ref ref="ASYNC_NHN_LOG_CRASH_APPENDER"/>-->
    <!--    </logger>-->

    <logger name="jdbc" level="INFO" additive="false">
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="jdbc.sqlonly" level="INFO" additive="false">
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="jdbc.sqltiming" level="INFO" additive="false">
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="org.hibernate.SQL" level="INFO" additive="false">
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="com.example.todolist.controller" level="INFO" additive="false">
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="com.example.todolist.service" level="INFO" additive="false">
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="com.example.todolist.domain" level="INFO" additive="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <!-- Root Logger 정의 -->
    <root level="DEBUG">
    </root>
</configuration>
